.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: #DFD0B8;
  font-family: 'Arial', sans-serif;
}

.App h1 {
  color: #153448;
  margin-bottom: 20px;
}

.App button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #153448;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.App button:hover {
  background-color: #3C5B6F;
}
